@import "tailwindcss";

body{
    overflow: hidden;
    background-color: #121212;
    




}


*{
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;


}
.video {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1; 
  }
  